
.font {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;color: rgb(247, 247, 247);font-weight: lighter;text-shadow: 10px 15px 5px rgb(0, 0, 0);margin: 2%;}

.font2 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 35px;color: rgb(206, 206, 206);font-weight: lighter;margin: 1%;}

.font3 {font-family: Arial, Helvetica, sans-serif;font-size:19px; color: rgb(255, 255, 255);margin: 1%;}

.bgcolour {background-color: rgb(14, 14, 14);}

.imagecorner {border-radius: 5%;}





