body {background-color: rgb(194, 0, 0);}

.font {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 30px;
    margin-top: 200px;
    margin-left: 30px;
}

.font2 {font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 30px;
}